@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@theme {
    /* Bold display typography */
    --font-weight-bold: 700;
    /* Font Family */
    --font-xiaolai: Xiaolai;
    --font-huiwen: HuiwenHKHei-Regular;
    --font-huiwen-mincho: Huiwen-MinchoGBK-Regular;
}
